#pricing {

background-image:url(../images/cool-background-min.jpg);
}
.pricing-container {
	width: 90%;
	max-width: 1170px;
	
	
}
.pricing-features p {
text-align:center;
padding:1.5px;
font-family:Berlin Sans FB;
font-size:1.3em;
color:#800000;

}
.disclaimer {
text-align:center;
padding:2px;
font-family:verdana;
font-size:1em;
color:#6E6E6E;

}

.pricing-container {
    margin: 6em auto;
}
.flex-container-price{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    width: 100%;
    padding: 10px 5%;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item-price-option{
    width: 350px;
    margin: 10px;
	background-color:#FFFFFF;
	height:100%;
	 border-radius: 5%;
	 min-height:220px;
}

.flex-item-price-option-platinum{
    width: 400px;
    margin: 10px;
	background-color:#FFFFFF;
	height:100%;
	 border-radius: 5%;

}

.pricing-header h3{
background-color: #610B0B;
color: #FFFFFF;
text-align:center;

}
.price{
color: #088A08;
text-align:center;
font-size:1.5em;
}
